@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #3B4664;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #3B4664;
    border-radius: 3px;
}

.screen {
    width: 350px;
    height: 50px;
    background-color: #181F32;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 24px;
    color: white;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 350px;
    background-color: #181F32;
    padding: 12px;
    border-radius: 5px;
}

.btn {
    padding: 20px;
    background-color: #e0e0e0;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.del {
    background-color: #647299; 
    color: white;
}

.reset {
    grid-column: span 2;
    background-color: #647299;
    color: white;
}

.equal {
    grid-column: span 2;
    background-color: #D13F30;
    color: white;
}
